@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-500: theme(colors.blue.500);
  --slate-50: theme(colors.slate.50);
  --slate-200: theme(colors.slate.200);
  --slate-400: theme(colors.slate.400);
}

body {
  color: theme("textColor.slate.50");
}