@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light: 0 0% 98%;
  --clr-dark: 0 0% 8%;
  --clr-neutral: 0 0% 41%;

  --ff-primary: Helvetica, sans-serif;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  color: hsl(var(--clr-light) / 88);
  line-height: 1.6;
  background-color: hsl(var(--clr-dark) / 100);
}

a:hover,
img:hover {
  cursor: pointer;
}

a:hover {
  color: hsl(var(--clr-dark) / 100);
}
